<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container">
      <a class="navbar-brand" href="<%= root_path %>">Manga reader</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link" href="#">Каталог</a>
          </li>
        </ul>

        <ul class="navbar-nav">
          <% if Current.user.present? %>
            <li class="nav-item">
              <a class="nav-link" href="#">Выйти</a>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="#">Войти</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="<%= new_sign_up_path %>">Регистрация</a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>